@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
  box-sizing: border-box;
}

body {
  background-color: #202020;
  min-height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


#hamburguer {
  width: 30px;
  height: 5px;
  background-color:#9c88ff;
  margin-top:3px;
  display: flex;
}

.menuToggle a{
  text-decoration: none;
  color: #fff;
  
}

.menuToggle li{
  list-style: none;
}

.esconde {
  display: none;
}



.container {
  margin: 30px auto;
  width: 350px;
}

h1 {
  letter-spacing: 1px;
  margin: 0;
  color: #2e75cc;
}

h2{
    color: #fbfbfb;
}

h3 {
  border-bottom: 1px solid #121212;
  padding-bottom: 10px;
  margin: 40px 0 10px;
  color:#fff;
}

h4 {
  margin: 0;
  text-transform: uppercase;
  color: #fff;
}

.inc-exp-container {
  background-color: #121212;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #fff;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: #2ecc71;
}

.money.minus {
  color: #c0392b;
}

label {
  display: inline-block;
  margin: 10px 0;
  color: #fff;
}

input[type='text'],
input[type='number'] {
  border: 1px solid #fff;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  background-color: #121212;
  color: #fff;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #131313 inset;
}

input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
}

.btn {
  cursor: pointer;
  background-color: #9c88ff;
  box-shadow: var(--box-shadow);
  color: #121212;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}




.transactions {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.transactions li {
  background-color: #121212;
  box-shadow: var(--box-shadow);
  color: #fff;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.transactions li.plus {
  border-right: 5px solid #2ecc71;
}

.transactions li.minus {
  border-right: 5px solid #c0392b;
}

.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #101010;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.transactions li:hover .delete-btn {
  opacity: 1;
}
